

#next_prev{
  position: absolute;
}
#cross{
        height: 100%;
        border: 2px solid #73AD21;
        top: 10em;
    width: 100%;
    position: absolute;
    top: 0;
   }
   #cross1{
        height: 100%;
               top: 10em;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
   }
   #cross2{
	position: absolute;
         top: 10em;
	height: auto;
    visibility:visible;
    z-index:0;
   }

#display li{
	display: inline-block;
	padding: 2px;
}

#keywords{
	position: relative;

}
.show-grid.row{
position: absolute; top: 6.5em; right: 2em; bottom: 0; left: 2em;
}

