#TextOrImage{
	position: relative;
	right: -295px;
	bottom: 140px;	
	width: 100px;
}
#main{
	position: relative;
	right: 280px;
	bottom: -150px;
}
#container { position: relative; height: 200px; width: 200px; right: -280px;}
.child { position: absolute;}
#fontSize{
	position: relative;
	bottom: -10em;
	right: 15em;
}
#button{
	position: absolute;
	right: 40em;
	bottom: -25em;
}

#textV{
	position: relative;
	right: -290px;
	bottom: 110px;	
}

#addRemoveBox{
	position: absolute;
	right: -250px;
	bottom: 110px;	
}
#cross{
	position: absolute;
	right: -10em;
	bottom: -30em;
	width: 520px;
    height: 600px;
    visibility:visible;
    z-index:0;
   }
   #cross2{
	position: absolute;
	right: -10em;
	bottom: -30em;
	width: 520px;
    height: 600px;
    visibility:visible;
    z-index:0;
   }

body {
    background-color: #b0c4de;
}
#display li{
	display: inline-block;
	padding: 2px;
}

#keywords{
	position: absolute;
	right: 50em;
	bottom: -20em;
}

#myCanvas{
	z-index : 3;
}
.top{
	z-index: 900;
}
